.form-container {
    border: 1px solid #ddd8d8;
    border-radius: 15px;
    width: 100%;
}

.form-container label {
    /* Taken from stackOverflow which helps hide the label 
      element but keep it accessible for screen readers */
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

.title-input {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.01rem;
    margin: 1rem 0 0.4rem 0;
}

.description-input {
    font-size: 0.9rem;
}

.title-input, 
.description-input {
    width: 100%;
    border: none;
}

.title-input,
.description-input,
.buttons-select-container {
    padding: 0 0.75rem;
}

.title-input:focus,
.description-input:focus {
    outline: none;
}

.form-container:has(.title-input:focus),
.form-container:has(.description-input:focus) {
    border-color: #b3acac;
}

.title-input::placeholder,
.description-input::placeholder {
    color: #9c9797;
}

.buttons-select-container {
    display: flex;
    border-bottom: 1px solid #ddd8d8;
    padding: 0.75rem;
}

.date-container,
.time-container,
.priority-container,
.section-container,
.more-container {
    position: relative;
}

.date-button-container,
.time-button-container {
    display: flex;
    align-items: center;
}

.date-button-container,
.time-button-container,
.priority-button-container,
.more-button {
    color: #666666;
    background-color: #fff;
    border: 1px solid #ddd8d8;
    border-radius: 5px;
    height: 2rem;
    padding: 0.1rem 0.5rem;
    margin-right: 0.75rem;
}

.date-button-container:hover,
.time-button-container:hover,
.priority-button-container:hover,
.section-button:hover,
.more-button:hover {
    color: #666666;
    background-color: #faf8f8;
}

.date-button,
.time-button,
.priority-button,
.section-button {
    display: flex;
    align-items: center;
    color: #666666;
    background-color: transparent;
    border: none;
}

.date-icon,
.time-icon,
.priority-icon,
.section-icon {
    font-size: 1.5rem;
    margin-right: 0.25rem;
}

.date-dropdown,
.time-dropdown {
    left: -3.5rem;
    width: 12rem;
    height: 7rem;
    padding: 1rem;
}

.priority-dropdown {
    left: -2rem;
    width: 10rem;
    overflow: hidden;
}

.section-dropdown {
    left: -6rem;
    width: 20rem;
    text-align: left;
    overflow: hidden;
}

.more-dropdown {
    top: 2.25rem;
    left: -1rem;
    width: 15rem;
    padding: 1rem;
}

.date-dropdown,
.time-dropdown,
.priority-dropdown,
.section-dropdown,
.more-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e2e0e0;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 0px rgb(231, 231, 231);
    text-align: center;
}

.date-input,
.time-input {
    color: #5e5c5c;
    border: 1px solid #e2e0e0;
    border-radius: 5px;
    padding: 0.25rem;
    margin-bottom: 1rem;
}

.dropdown-buttons-container {
    display: flex;
    justify-content: space-between;
}

.dropdown-cancel {
    background-color: #f5f5f5;
}

.dropdown-submit {
    background-color: #0077b6;
    color: #fff;
}

.dropdown-cancel,
.dropdown-submit {
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
}

.priority-option,
.section-list {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.priority-option:hover,
.section-list:hover {
    cursor: pointer;
    background-color: #faf8f8;
}

.priority-button-urgent .material-symbols-outlined {
    color: #c1121f;
}

.priority-urgent:hover,
.priority-urgent:hover .material-symbols-outlined {
    background-color: #c1121f;
    color: #fff;
}

.priority-button-important .material-symbols-outlined {
    color: #f77f00;
}

.priority-container-important,
.priority-important:hover,
.priority-important:hover .material-symbols-outlined {
    background-color: #f77f00;
    color: #fff;
}

.priority-button-low .material-symbols-outlined {
    color: #4bad32;
}

.priority-container-low,
.priority-low:hover,
.priority-low:hover .material-symbols-outlined {
    background-color: #4bad32;
    color: #fff;
}

.section-list {
    font-size: 0.9rem;
}

.section-list .material-symbols-outlined {
    font-size: 1.5rem;
}

.section-button {
    border: none;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
}

.section-button-clicked {
    color: #666666;
    background-color: #faf8f8;
}

.more-button {
    padding: 0.1rem 0.2rem;
}

.more-icon {
    position: relative;
    font-variation-settings: 
    'FILL' 1,
    'wght' 300;
    font-size: 1.5rem;
    padding-left: 0.1rem;
    margin: 0;
    margin-top: 0.05rem;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0.75rem;
}

.date-close-icon,
.time-close-icon {
    font-size: 1rem;
    margin: 0;
}

.date-close-icon:hover,
.time-close-icon:hover {
    color: #000;
}