/* section sidebar styling */

.section-add,
.section-delete {
    visibility: hidden;
    margin: 0;
}

.section-heading-container,
.section-option {
    justify-content: space-between;
}

.section-heading-container:hover .section-add,
.section-option:hover .section-delete  {
    visibility: visible;
}

.section-heading {
    font-size: 1.25rem;
    color: #807d7d;
}

.section-option:hover .section-delete {
    font-variation-settings: 
    'FILL' 0,
    'wght' 200;
    color: #666666;
}

.list-right {
    display: flex;
    align-items: center;
}

/* section page styling */

.todo-completed .todo-information,
.todo-completed .todo-due,
.todo-completed .due-icon
 {
    font-style: italic;
    text-decoration: line-through;
    color: #b1adad;
}

.todo-information {
    width: 90%;
}

.todo-list,
.add-todo-list {
    display: flex;
    border-top: 1px solid #e2e0e0;
    padding: 0.75rem 0;
}

.todo-list {
    position: relative;
}

.todo-list:hover {
    cursor: pointer;
}

.todo-list:first-child {
    border: none;
}

.todo-checkbox {
    position: relative;
    border: 1px solid #b1adad;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem !important;
}

.todo-checkbox::after {
    position: absolute;
    left: 2.5px;
    top: -2px;
    content: "✓";
    color: #b1adad;
    display: none;
}

.todo-checkbox:hover {
    cursor: pointer;
}

.todo-checkbox:hover::after {
    display: block;
}

.checkbox-urgent {
    border: 2px solid #c1121f;
}

.checkbox-urgent:hover {
    background-color: #ffeced;
}

.checkbox-urgent::after {
    color: #c1121f;
}

.checkbox-urgent.todo-checked {
    background-color: #c1121f;
}

.checkbox-important {
    border: 2px solid #f77f00;
}

.checkbox-important:hover {
    background-color: #fcf0e3;
}

.checkbox-important::after {
    color: #f77f00;
}

.checkbox-important.todo-checked {
    background-color: #f77f00;
}

.checkbox-low {
    border: 2px solid #4bad32;
}

.checkbox-low:hover {
    background-color: #f1ffee;
}

.checkbox-low::after {
    color: #4bad32;
}

.checkbox-low.todo-checked {
    background-color: #4bad32;
}

.checkbox-none.todo-checked {
    background-color: #b1adad;
}

.todo-checked::after {
    display: block;
    color: #fff;
}

.todo-title,
.todo-description {
    margin-bottom: 0.15rem;
}

.todo-description {
    color: #807d7d;
}

.todo-description,
.todo-due {
    font-size: 0.8rem;
}

.todo-due {
    display: flex;
    align-items: center;
    color: #0077b6;
}

.todo-date {
    margin-right: 0.25rem;
}

.due-icon {
    font-size: 1rem;
    color: #0077b6;
    margin-right: 0.1rem;
}

.add-todo-list {
    align-items: center;
    color: #807d7d;
}

.add-todo-list:only-child {
    border: none;
}

.add-todo-list:hover {
    cursor: pointer;
    color: #0077b6;
}

.add-todo-list:hover .add-todo-icon {
    color: #fff;
    background-color: #0077b6;
    border-radius: 50%;
}

.add-todo-icon {
    font-size: 1.5rem;
    color: #0077b6;
}

/* hover buttons styling */

.todo-list:hover .hover-options {
    display: block;
}

.hover-options {
    position: absolute;
    right: 0;
    top: 0.5rem;
    display: none;
}

.hover-button {
    background: transparent;
    border: none;
    padding: 0;
}

.hover-button:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.hover-button:first-child {
    margin-right: 0.5rem;
}

.hover-button .material-symbols-outlined {
    font-size: 1.6rem;
    font-style: normal;
    color: #666666;
    margin: 0;
}

/* todo expand styling */

.expanded-todo {
    width: 50rem;
}

.expanded-todo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #faf8f8;
}

.expanded-todo-heading {
    font-size: 1.25rem;
    margin: 0;
}

.properties-container {
    padding: 0.5rem 1rem;
}

.property-heading,
.property-info {
    width: 90%;
    overflow-wrap: break-word;
    margin-bottom: 0.25rem;
}

.property-heading {
    font-size: 1.15rem;
    color: #0077b6;
    margin-bottom: 0.5rem;
}

.property-info {
    display: flex;
    align-items: center;
}

.property-info .property-datetime-icon,
.property-datetime {
    color: #063f5e;
}

.property-info .property-datetime-icon,
.property-info .property-section-icon {
    font-size: 1.4rem;
    margin-right: 0.25rem;
}

.property-info .property-section-icon {
    font-variation-settings: 
    'wght' 300;
    color: #b1adad;
}

.property-info:last-child {
    margin-bottom: 0.5rem;
}

.property-title {
    font-weight: 600;
}

.property-priority-urgent {
    color: #c1121f;
}

.property-priority-important {
    color: #f77f00;
}

.property-priority-low {
    color: #4bad32;
}
