/* section sidebar styling */

.section-add,
.section-delete {
    visibility: hidden;
    margin: 0;
}

.section-heading-container,
.section-option {
    justify-content: space-between;
}

.section-heading-container:hover .section-add,
.section-option:hover .section-delete  {
    visibility: visible;
}

.section-heading {
    font-size: 1.25rem;
    color: #807d7d;
}

.section-option:hover .section-delete {
    font-variation-settings: 
    'FILL' 0,
    'wght' 200;
    color: #666666;
}

.list-right {
    display: flex;
    align-items: center;
}

/* section page styling */

.todo-completed {
    text-decoration: line-through;
    color: #b1adad;
}

.todo-completed p,
.todo-completed .material-symbols-outlined {
    font-style: italic;
    color: #b1adad;
}

.todo-list,
.add-todo-list {
    display: flex;
    border-top: 1px solid #e2e0e0;
    padding: 0.75rem 0;
}

.todo-list:first-child {
    border: none;
    padding-top: 0;
}

.todo-checkbox {
    position: relative;
    border: 1px solid #b1adad;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
}

.todo-checkbox::after {
    position: absolute;
    left: 2.5px;
    top: -2px;
    content: "✓";
    color: #b1adad;
    display: none;
}

.todo-checkbox:hover {
    cursor: pointer;
}

.todo-checkbox:hover::after {
    display: block;
}

.checkbox-urgent {
    border: 2px solid #c1121f;
}

.checkbox-urgent:hover {
    background-color: #ffeced;
}

.checkbox-urgent::after {
    color: #c1121f;
}

.checkbox-urgent.todo-checked {
    background-color: #c1121f;
}

.checkbox-important {
    border: 2px solid #f77f00;
}

.checkbox-important:hover {
    background-color: #fcf0e3;
}

.checkbox-important::after {
    color: #f77f00;
}

.checkbox-important.todo-checked {
    background-color: #f77f00;
}

.checkbox-low {
    border: 2px solid #4bad32;
}

.checkbox-low:hover {
    background-color: #f1ffee;
}

.checkbox-low::after {
    color: #4bad32;
}

.checkbox-low.todo-checked {
    background-color: #4bad32;
}

.checkbox-none.todo-checked {
    background-color: #b1adad;
}

.todo-checked::after {
    display: block;
    color: #fff;
}

.todo-title,
.todo-description {
    margin-bottom: 0.15rem;
}

.todo-description {
    color: #807d7d;
}

.todo-description,
.todo-due {
    font-size: 0.8rem;
}

.todo-due {
    display: flex;
    align-items: center;
    color: #0077b6;
}

.todo-date {
    margin-right: 0.25rem;
}

.due-icon {
    font-size: 1rem;
    color: #0077b6;
    margin-right: 0.1rem;
}

.add-todo-list {
    align-items: center;
    color: #807d7d;
}

.add-todo-list:only-child {
    border: none;
}

.add-todo-list:hover {
    cursor: pointer;
    color: #0077b6;
}

.add-todo-list:hover .add-todo-icon {
    color: #fff;
    background-color: #0077b6;
    border-radius: 50%;
}

.add-todo-icon {
    font-size: 1.5rem;
    color: #0077b6;
}

