.sidebar {
    width: clamp(300px, 50vw, 400px);
    padding: 1.75rem;
    background-color: #fdfdfd;
}

.sidebar-options-container {
    margin-bottom: 1rem;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.profile-image {
    border-radius: 50%;
    height: 2.5rem;
    margin-right: 1rem;
}

.profile-heading {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.image-attribution {
    font-size: 0.6rem;
    color: #5e5c5c;;
}

.sidebar-option,
.section-heading-container,
.section-option {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.sidebar-option:hover,
.section-option:hover,
.section-heading-container:hover {
    cursor: pointer;
    color: #0077b6;
    background-color: #dbf1f5;
}

.material-symbols-outlined {
    font-variation-settings: 
    'wght' 200;
    font-size: 1.75rem;
    color: #666666;
    margin-right: 0.5rem;
}

.sidebar-option:hover .material-symbols-outlined,
.section-option:hover .material-symbols-outlined {
    font-variation-settings: 
    'FILL' 1,
    'wght' 200;
    color: #0077b6;
}

.add-circle {
    font-variation-settings: 
    'FILL' 1;
    color: #0077b6;
}

/* sidebar form */

.sidebar-form-container {
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .35);
    width: 40rem;
    padding: 0.25rem;
}

.sidebar-form-container .date-dropdown,
.sidebar-form-container .time-dropdown,
.sidebar-form-container .priority-dropdown,
.sidebar-form-container .more-dropdown,
.sidebar-form-container .section-dropdown {
    z-index: 999;
}

.sidebar-form-container .title-input {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.sidebar-form-container .buttons-select-container {
    padding: 1rem 0.75rem;
}

.sidebar-form-container .buttons-container {
    padding: 1rem 0.75rem;
}