*, *:before, *:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}

body,
ul,
.profile-heading,
.image-attribution,
.sections-heading {
    padding: 0;
    margin: 0;
}

a {
    color: #5e5c5c;
}

ul li {
    list-style-type: none;
}

button:hover,
.material-symbols-outlined:hover {
    cursor: pointer;
}

/* sidebar styling */

.sidebar {
    width: clamp(300px, 30%, 400px);
    padding: 1.75rem;
}

.sidebar-options-container {
    margin-bottom: 1rem;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.profile-image {
    border-radius: 50%;
    height: 2.5rem;
    margin-right: 1rem;
}

.profile-heading {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.image-attribution {
    font-size: 0.6rem;
    color: #5e5c5c;;
}

.sidebar-option,
.sections-heading-container,
.section-option {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.sidebar-option:hover,
.section-option:hover,
.sections-heading-container:hover {
    cursor: pointer;
    color: #0077b6;
    background-color: #dbf1f5;
}

.material-symbols-outlined {
    font-variation-settings: 
    'wght' 200;
    font-size: 1.75rem;
    color: #666666;
    margin-right: 0.5rem;
}

.sidebar-option:hover .material-symbols-outlined,
.section-option:hover .material-symbols-outlined {
    font-variation-settings: 
    'FILL' 1,
    'wght' 200;
    color: #0077b6;
}

.add-circle {
    font-variation-settings: 
    'FILL' 1;
    color: #0077b6;
}

/* sections styling */
.section-add,
.section-delete {
    visibility: hidden;
    margin: 0;
}

.sections-heading-container,
.section-option {
    justify-content: space-between;
}

.sections-heading-container:hover .section-add,
.section-option:hover .section-delete  {
    visibility: visible;
}

.sections-heading {
    font-size: 1.25rem;
    color: #807d7d;
}

.section-option:hover .section-delete {
    font-variation-settings: 
    'FILL' 0,
    'wght' 200;
    color: #666666;
}

.list-right {
    display: flex;
    align-items: center;
}

/* addTodo form styling */
.priority-dropdown,
.date-dropdown,
.time-dropdown,
.sections-dropdown,
.section-form,
.delete-confirmation {
    position: relative;
    z-index: 999;
    border: 1px solid black;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay-background {
    background-color: rgba(34, 34, 34, 0.6);
}

.main {
    padding: 5rem;
}

/* section form styling */
.section-form,
.delete-confirmation {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30rem;
    height: 30vh;
    background-color: #fff;
    border-radius: 15px;

    border: none;
}

.heading-container,
.name-container {
    padding: 0.75rem 1rem;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #faf8f8;
}

.form-heading,
.delete-heading {
    font-size: 1.25rem;
    margin: 0;
}

.close-icon {
    margin: 0;
}

.close-icon:hover {
    background-color: #faf8f8;
    border-radius: 5px;
}

.name-label {
    display: block;
    font-weight: 600;
    margin-bottom: 1rem;
}

.name-container {
    flex-grow: 1;
    margin-top: 1rem;
}

.name-input {
    border: 1px solid #ccc6c6;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    width: 90%;
    padding: 0.5rem;
}

.name-input:focus {
    outline: none;
    border: 1px solid #9c9797;
    box-shadow: 0px 0px 3px 0px rgb(230, 229, 229);
}

.error-message {
    position: absolute;
    top: 150px;
    color: #d90429;
}

.buttons-container {
    margin: 0 1rem 1rem auto;
}

.cancel-button,
.submit-button,
.delete-button {
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    width: 5rem;
    padding: 0.5rem;
}

.cancel-button {
    margin-right: 1rem;
    background-color: #f5f5f5;
    color: #383535;
}

.cancel-button:hover {
    background-color: #e2e0e0;
    color: #000;
}

.submit-button {
    background-color: #0077b6;
    color: #fff;
}

.submit-button:hover {
    background-color: #02669c;
}

/* delete confirmation styling */
.delete-confirmation {
    padding: 1.25rem;
    height: 20vh;
}

.delete-para {
    flex-grow: 1;
}

.delete-confirmation .buttons-container {
    margin-right: 0;
}

.delete-button {
    background-color: #d90429;
    color: #fff;
}

.delete-button:hover {
    background-color: #c70425;
}

